/public/hot
/public/app
/public/storage
/storage/framework/*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
composer.lock

.env
prod.env

/node_modules
