* {
    margin: 0;
    padding: 0;
  }
  p {
    color: gray;
    font-size: 10px;
  }


  .content {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .container-login {
    border-radius: 1%;
    margin: 25px;
    font-family: sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .left {
    padding: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .formulario {
    padding: 20px;
    height: 100%;
  }

  .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portada {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .container-title {
    margin-bottom: 1rem;
  }

  .container-input {

    margin-bottom: 25px;
    width: 100%;
  }

  .container-input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #6AA84F;
    height: 35px;
  }

  .container-input input:focus {
    border: none;
    outline: none;
    transition: transform 0.2s ease-in-out;
    border-bottom: 1px solid #6AA84F;
  }

  .container-input button {
    margin-top: 20%;
    background-color: none;
    border-radius: 20px; /* Ajustar el valor para redondear los bordes */
    padding: 5px;
    width: 100%;
    height: 35px;
    background-color: #6AA84F;
    border: none;
    color: white;
  }

  .container-input button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }

  .message {
    color: red;
    font-size: 10px;
  }

  /* Estilos para dispositivos con un ancho máximo de 767px (por ejemplo, smartphones) */
  @media (max-width: 767px) {

      .content {
          display: flex;
          justify-content: left;
          align-items: normal;
      }
      .formulario{
          text-align: center;
      }

      .container-login {
          padding: 0px;
          border-radius: 0%;
          margin: 0px;
          flex-direction: column;
          height: auto;
      }
      .portada {
          border-radius: 0%;
          width: 100%;
          height: auto;
          max-width: 100%;
          max-height: 100%;
      }

      .left,
      .right {
          width: 100%;
      }
      .left{
    padding: 0px;

          background-color: white;
          margin-top: -30px;
          border-radius: 7%;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      }

      .right {
          height: 350px;
          order: -1; /* Cambiar el orden del elemento a -1 para que aparezca arriba */
      }
      .container-input button {
        margin-top: 0%;

      }
    
  }

  /* Estilo para el placeholder cuando el input tiene la clase 'texto-arriba' */
  .container-input input.texto-arriba::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 10px;
    pointer-events: none;
    color: #6AA84F;
  }

  /* Estilo adicional para dar espacio arriba cuando el texto está arriba */
  .container-input input.texto-arriba {
    padding-top: 20px;
  }
  