/* Panel */
>>> .p-panel-header {
    padding: 0.75rem;
}

.panel-header {
    display: flex;
    align-items: center;
}

.panel-icon {
    font-size: 2rem;
    padding-left: 10px;
}

.panel-icon {
    font-size: 1.5rem;
    margin: 0;
}

/* Tablas */
>>> .dt-lista-proveedores .p-datatable tbody{
    height: 30vh;
}

>>> .dt-lista-seleccionados .p-datatable tbody{
    height: 37vh;
}

>>> .p-panel-content {
    padding: 0 0.75rem 0.75rem 0.75rem;
}

/* TabView */
>>> .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    color: #5b5656 !important;
    padding-top: 0.75rem;
    padding-bottom: 0;
    padding-left: 18vw;
    padding-right: 18vw;
}

.non-clickable {
    cursor: default !important;
}

>>> .p-tabview-panels {
    padding: 1.5rem 0 0 0;
}

/* Card */
.formulario-card >>> .p-card {
    box-shadow: none !important;
}

.total-saldo-card >>> .p-card {
    box-shadow: none !important;
    background: #bcffbf;
    margin-bottom: 1.5rem;
}

>>> .p-card-content {
    padding: 0.5rem 0;
}

>>> .p-card-body {
    padding: 0 0 0 0;
}

>>> .p-card-footer {
    padding: 0 0 0 0;
    display: flex;
    justify-content: right;
}

>>> .autocomplete-flecha .p-button.p-button-icon-only {
    padding: 0.4rem 0;
}

/* Tablas Articulos */
.tablas-articulos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Grid */
>>> .p-md-3 {
    padding: 0 1.5rem 0 1.5rem !important;
    margin-bottom: 0.5rem;
}

>>> .p-md-4 {
    padding: 0 0.75rem 0 0.75rem !important;
}

.flechas-buttons {
    padding-top: 0;
    display: flex;
    justify-content: right;
}

.saldo-total {
    margin: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tabla Lista Completa */
.product-image {
    border-radius: 10px;
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

>>> .p-inputgroup > .p-inputwrapper:last-child > .p-inputtext {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

/* Calendar */
@media (min-width: 768px) {
    >>> .p-datepicker-touch-ui {
        min-width: 60vw !important;
    }

    >>> .p-datepicker table th {
        padding: 0.5rem 0.5rem 0.5rem 3.2em;
    }
}

/* Tabla vacia */
.imagen-tabla-vacia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}

.imagen-tabla-vacia img {
    box-shadow: none;
    width: 150px;
}

.titulos-pasos {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

>>> .tablas-card .card {
    margin-bottom: 0.5rem;
}

/* Dialog confirmacion */
.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

>>> .p-dialog-footer {
    padding: 0 0.75rem 0.75rem 0.75rem !important;
}

>>> .p-dialog-content {
    padding: 0 1.5rem 2rem 1.5rem;
}

>>> .p-dialog-header {
    padding: 1.5rem 1rem 1.5rem 1.5rem;
}

/* Dialog cuotas*/
@media (min-width: 1024px) {

    >>>.dialog-cuotas .p-dialog {
        max-width: 50%;
        max-height: 85%;
    }
}

>>> .dt-lista-cuotas .p-datatable tbody{
    height: 30vh;
}

>>> .dialog-cuotas .p-dialog-header {
    padding: 1rem 1rem 1rem 1.5rem;
    background: #33b378;
    color: #ffffff;
}

>>> .dialog-cuotas .p-dialog-content {
    padding: 1rem 1rem 0 1rem;
}

/* Cabecera Tablas */
>>> .tabla-completa .p-datatable .p-datatable-thead > tr > th {
    background: #64748b;
    color: #ffffff;
}

>>> .tabla-completa .p-datatable .p-datatable-tbody > tr {
    background: #eef2f5;
}

>>> .tabla-completa .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #ffffff;
}

>>> .tabla-completa .p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #ffffff;
}

/*>>> .tabla-expansible .p-datatable-wrapper {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}*/

>>> .tabla-expansible .p-datatable .p-datatable-thead > tr > th {
    background: #ffffff;
    color: #495057;
}

>>> .tabla-expansible .p-datatable .p-datatable-tbody > tr {
    background: #ffffff;
}

/* Correcciones */
>>> .invalido .p-inputtext {
    border-color: #e24c4c !important;
}

.espacio-top {
    margin-top: 25px !important;
}

>>> .p-badge.p-badge-lg {
    min-width: 2.55rem;
}